.web-detail-task {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.web-detail-task .div {
  background-color: #f9f9f9;
  height: 1208px;
  position: relative;
  width: 1440px;
}

.web-detail-task .side-menu {
  background-color: var(--primary-0);
  height: 1208px;
  left: 0;
  position: absolute;
  top: 0;
  width: 252px;
}

.web-detail-task .line {
  height: 1024px;
  left: 252px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1px;
}

.web-detail-task .logo {
  align-items: flex-start;
  display: inline-flex;
  gap: 12px;
  left: 32px;
  position: absolute;
  top: 32px;
}

.web-detail-task .vuesax-bold-book {
  height: 40px !important;
  position: relative !important;
  width: 40px !important;
}

.web-detail-task .text-wrapper {
  color: var(--secondary-500);
  font-family: var(--semibold-type-32-font-family);
  font-size: var(--semibold-type-32-font-size);
  font-style: var(--semibold-type-32-font-style);
  font-weight: var(--semibold-type-32-font-weight);
  height: 40px;
  letter-spacing: var(--semibold-type-32-letter-spacing);
  line-height: var(--semibold-type-32-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 136px;
}

.web-detail-task .side-menu-2 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  left: 32px;
  position: absolute;
  top: 132px;
}

.web-detail-task .div-wrapper {
  align-items: flex-start;
  border-radius: 10px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px;
  position: relative;
}

.web-detail-task .div-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  position: relative;
}

.web-detail-task .icon-instance-node {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.web-detail-task .text-wrapper-2 {
  color: var(--secondary-300);
  font-family: var(--semibold-type-14-font-family);
  font-size: var(--semibold-type-14-font-size);
  font-style: var(--semibold-type-14-font-style);
  font-weight: var(--semibold-type-14-font-weight);
  height: 24px;
  letter-spacing: var(--semibold-type-14-letter-spacing);
  line-height: var(--semibold-type-14-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 112px;
}

.web-detail-task .course {
  align-items: center;
  background-color: #f5f5f7;
  border-radius: 10px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  padding: 10px 20px;
  position: relative;
}

.web-detail-task .text-wrapper-3 {
  color: var(--secondary-500);
  font-family: var(--semibold-type-14-font-family);
  font-size: var(--semibold-type-14-font-size);
  font-style: var(--semibold-type-14-font-style);
  font-weight: var(--semibold-type-14-font-weight);
  height: 24px;
  letter-spacing: var(--semibold-type-14-letter-spacing);
  line-height: var(--semibold-type-14-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 112px;
}

.web-detail-task .help-cemter {
  height: 274px;
  left: 32px;
  position: absolute;
  top: 718px;
  width: 188px;
}

.web-detail-task .overlap {
  height: 274px;
  position: relative;
}

.web-detail-task .overlap-wrapper {
  background-color: var(--secondary-500);
  border-radius: 10px;
  height: 248px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 26px;
  width: 188px;
}

.web-detail-task .overlap-group {
  height: 428px;
  left: -94px;
  position: relative;
  top: -100px;
  width: 374px;
}

.web-detail-task .bg {
  background-color: #1415220a;
  border-radius: 10px;
  height: 248px;
  left: 94px;
  position: absolute;
  top: 100px;
  width: 188px;
}

.web-detail-task .bg-2 {
  background-color: #ffffff14;
  border-radius: 80px;
  height: 160px;
  left: 0;
  position: absolute;
  top: 0;
  width: 160px;
}

.web-detail-task .bg-3 {
  background-color: #ffffff14;
  border-radius: 80px;
  height: 160px;
  left: 214px;
  position: absolute;
  top: 268px;
  width: 160px;
}

.web-detail-task .button-help {
  height: 40px;
  left: 110px;
  position: absolute;
  top: 292px;
  width: 158px;
}

.web-detail-task .overlap-group-2 {
  background-color: var(--primary-0);
  border-radius: 10px;
  height: 40px;
  position: relative;
  width: 156px;
}

.web-detail-task .text-wrapper-4 {
  color: var(--secondary-500);
  font-family: var(--semibold-type-12-font-family);
  font-size: var(--semibold-type-12-font-size);
  font-style: var(--semibold-type-12-font-style);
  font-weight: var(--semibold-type-12-font-weight);
  height: 16px;
  left: 24px;
  letter-spacing: var(--semibold-type-12-letter-spacing);
  line-height: var(--semibold-type-12-line-height);
  position: absolute;
  text-align: center;
  top: 12px;
  width: 108px;
}

.web-detail-task .help-cemter-2 {
  height: 76px;
  left: 112px;
  position: absolute;
  top: 171px;
  width: 156px;
}

.web-detail-task .text-wrapper-5 {
  color: var(--primary-0);
  font-family: var(--semibold-type-16-font-family);
  font-size: var(--semibold-type-16-font-size);
  font-style: var(--semibold-type-16-font-style);
  font-weight: var(--semibold-type-16-font-weight);
  height: 20px;
  left: 24px;
  letter-spacing: var(--semibold-type-16-letter-spacing);
  line-height: var(--semibold-type-16-line-height);
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 104px;
}

.web-detail-task .having-trouble-in {
  color: var(--primary-0);
  font-family: var(--medium-type-12-font-family);
  font-size: var(--medium-type-12-font-size);
  font-style: var(--medium-type-12-font-style);
  font-weight: var(--medium-type-12-font-weight);
  height: 44px;
  left: 0;
  letter-spacing: var(--medium-type-12-letter-spacing);
  line-height: var(--medium-type-12-line-height);
  position: absolute;
  text-align: center;
  top: 32px;
  width: 152px;
}

.web-detail-task .question {
  height: 52px;
  left: 70px;
  position: absolute;
  top: 0;
  width: 50px;
}

.web-detail-task .overlap-2 {
  height: 52px;
  position: relative;
  width: 48px;
}

.web-detail-task .shadow {
  background-color: var(--secondary-400);
  border-radius: 48px;
  filter: blur(24px);
  height: 44px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 48px;
}

.web-detail-task .bg-4 {
  background-color: var(--secondary-500);
  border: 4px solid;
  border-color: var(--primary-0);
  border-radius: 48px;
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 48px;
}

.web-detail-task .text-wrapper-6 {
  color: var(--primary-0);
  font-family: "Satoshi-Bold", Helvetica;
  font-size: 28px;
  font-weight: 700;
  height: 34px;
  left: 7px;
  letter-spacing: 0.28px;
  line-height: 33.6px;
  position: absolute;
  text-align: center;
  top: 7px;
  width: 34px;
}

.web-detail-task .header {
  background-color: var(--primary-0);
  height: 192px;
  left: 252px;
  position: absolute;
  top: 0;
  width: 1188px;
}

.web-detail-task .text-wrapper-7 {
  color: var(--secondary-500);
  font-family: var(--semibold-type-24-font-family);
  font-size: var(--semibold-type-24-font-size);
  font-style: var(--semibold-type-24-font-style);
  font-weight: var(--semibold-type-24-font-weight);
  height: 52px;
  left: 32px;
  letter-spacing: var(--semibold-type-24-letter-spacing);
  line-height: var(--semibold-type-24-line-height);
  position: absolute;
  top: 31px;
  width: 252px;
}

.web-detail-task .searching {
  align-items: center;
  border: 1px solid;
  border-color: #f5f5f7;
  border-radius: 10px;
  display: inline-flex;
  gap: 232px;
  left: 32px;
  padding: 14px 28px;
  position: absolute;
  top: 108px;
}

.web-detail-task .search-course-name {
  color: var(--secondary-400);
  font-family: var(--regular-type-12-font-family);
  font-size: var(--regular-type-12-font-size);
  font-style: var(--regular-type-12-font-style);
  font-weight: var(--regular-type-12-font-weight);
  height: 24px;
  letter-spacing: var(--regular-type-12-letter-spacing);
  line-height: var(--regular-type-12-line-height);
  margin-top: -1px;
  position: relative;
  width: 172px;
}

.web-detail-task .search-normal {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.web-detail-task .action {
  align-items: flex-start;
  display: inline-flex;
  gap: 24px;
  left: 1028px;
  position: absolute;
  top: 32px;
}

.web-detail-task .notif {
  height: 52px;
  position: relative;
  width: 52px;
}

.web-detail-task .overlap-group-3 {
  border-radius: 100px;
  height: 52px;
  position: relative;
}

.web-detail-task .notif-wrapper {
  background-image: url(https://c.animaapp.com/C0vtOxNc/img/iconly-light-notification-1.svg);
  background-size: 100% 100%;
  height: 24px;
  left: 14px;
  position: absolute;
  top: 14px;
  width: 24px;
}

.web-detail-task .notif-2 {
  background-color: #ff4c5e;
  border-radius: 4px;
  height: 8px;
  left: 14px;
  position: relative;
  top: 1px;
  width: 8px;
}

.web-detail-task .bg-5 {
  border: 1px solid;
  border-color: #f5f5f7;
  border-radius: 100px;
  height: 52px;
  left: 0;
  position: absolute;
  top: 0;
  width: 52px;
}

.web-detail-task .profil {
  height: 52px;
  object-fit: cover;
  position: relative;
  width: 52px;
}

.web-detail-task .filter-short {
  align-items: flex-start;
  display: inline-flex;
  gap: 24px;
  left: 788px;
  position: absolute;
  top: 108px;
}

.web-detail-task .div-wrapper-2 {
  align-items: flex-start;
  border: 1px solid;
  border-color: #f5f5f7;
  border-radius: 10px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 14px 28px;
  position: relative;
}

.web-detail-task .text-wrapper-8 {
  color: var(--secondary-500);
  font-family: var(--semibold-type-12-font-family);
  font-size: var(--semibold-type-12-font-size);
  font-style: var(--semibold-type-12-font-style);
  font-weight: var(--semibold-type-12-font-weight);
  height: 24px;
  letter-spacing: var(--semibold-type-12-letter-spacing);
  line-height: var(--semibold-type-12-line-height);
  margin-top: -1px;
  position: relative;
  width: 56px;
}

.web-detail-task .text-wrapper-9 {
  color: var(--secondary-500);
  font-family: var(--semibold-type-12-font-family);
  font-size: var(--semibold-type-12-font-size);
  font-style: var(--semibold-type-12-font-style);
  font-weight: var(--semibold-type-12-font-weight);
  height: 24px;
  letter-spacing: var(--semibold-type-12-letter-spacing);
  line-height: var(--semibold-type-12-line-height);
  margin-top: -1px;
  position: relative;
  width: 104px;
}

.web-detail-task .detail-task {
  background-color: var(--primary-0);
  border-radius: 10px;
  height: 952px;
  left: 284px;
  overflow: hidden;
  position: absolute;
  top: 224px;
  width: 720px;
}

.web-detail-task .video-task {
  background-image: url(https://c.animaapp.com/C0vtOxNc/img/image.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 360px;
  left: 0;
  position: absolute;
  top: 0;
  width: 720px;
}

.web-detail-task .video-bar {
  background-color: var(--primary-0);
  border-radius: 10px;
  height: 44px;
  left: 24px;
  overflow: hidden;
  position: relative;
  top: 292px;
  width: 672px;
}

.web-detail-task .vuesax-bold-pause {
  height: 20px !important;
  left: 24px !important;
  position: absolute !important;
  top: 12px !important;
  width: 20px !important;
}

.web-detail-task .vuesax-linear-volume {
  height: 20px !important;
  left: 628px !important;
  position: absolute !important;
  top: 12px !important;
  width: 20px !important;
}

.web-detail-task .vuesax-linear {
  height: 20px !important;
  left: 596px !important;
  position: absolute !important;
  top: 12px !important;
  width: 20px !important;
}

.web-detail-task .vuesax-linear-maximize-3 {
  height: 20px !important;
  left: 564px !important;
  position: absolute !important;
  top: 12px !important;
  width: 20px !important;
}

.web-detail-task .text-wrapper-10 {
  color: var(--secondary-500);
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 446px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: 78px;
}

.web-detail-task .progress {
  background-color: #f5f5f7;
  border-radius: 8px;
  height: 8px;
  left: 68px;
  overflow: hidden;
  position: absolute;
  top: 18px;
  width: 354px;
}

.web-detail-task .progress-2 {
  background-color: var(--secondary-500);
  border-radius: 8px;
  height: 8px;
  width: 80px;
}

.web-detail-task .content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  left: 24px;
  position: absolute;
  top: 384px;
  width: 684px;
}

.web-detail-task .title {
  align-self: stretch;
  color: var(--secondary-500);
  font-family: var(--semibold-type-32-font-family);
  font-size: var(--semibold-type-32-font-size);
  font-style: var(--semibold-type-32-font-style);
  font-weight: var(--semibold-type-32-font-weight);
  letter-spacing: var(--semibold-type-32-letter-spacing);
  line-height: var(--semibold-type-32-line-height);
  margin-top: -1px;
  position: relative;
}

.web-detail-task .instructure {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  width: 100%;
}

.web-detail-task .mentor {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.web-detail-task .your-job-as-a-UX-des {
  color: var(--secondary-400);
  font-family: var(--medium-type-14-font-family);
  font-size: var(--medium-type-14-font-size);
  font-style: var(--medium-type-14-font-style);
  font-weight: var(--medium-type-14-font-weight);
  letter-spacing: var(--medium-type-14-letter-spacing);
  line-height: var(--medium-type-14-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.web-detail-task .img {
  height: 28px;
  position: relative;
  width: 1px;
}

.web-detail-task .your-job-as-a-UX-des-2 {
  color: #04a4f4;
  font-family: var(--medium-type-14-font-family);
  font-size: var(--medium-type-14-font-size);
  font-style: var(--medium-type-14-font-style);
  font-weight: var(--medium-type-14-font-weight);
  letter-spacing: var(--medium-type-14-letter-spacing);
  line-height: var(--medium-type-14-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.web-detail-task .info {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
  width: 100%;
}

.web-detail-task .info-2 {
  align-items: center;
  display: flex;
  gap: 20px;
  position: relative;
  width: 356px;
}

.web-detail-task .student {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 5px;
  justify-content: center;
  position: relative;
}

.web-detail-task .icon-instance-node-2 {
  height: 16px !important;
  position: relative !important;
  width: 16px !important;
}

.web-detail-task .your-job-as-a-UX-des-3 {
  color: var(--secondary-500);
  font-family: var(--medium-type-14-font-family);
  font-size: var(--medium-type-14-font-size);
  font-style: var(--medium-type-14-font-style);
  font-weight: var(--medium-type-14-font-weight);
  letter-spacing: var(--medium-type-14-letter-spacing);
  line-height: var(--medium-type-14-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.web-detail-task .description-task {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
  left: 24px;
  position: absolute;
  top: 544px;
}

.web-detail-task .text-wrapper-11 {
  color: var(--secondary-500);
  font-family: var(--semibold-type-24-font-family);
  font-size: var(--semibold-type-24-font-size);
  font-style: var(--semibold-type-24-font-style);
  font-weight: var(--semibold-type-24-font-weight);
  letter-spacing: var(--semibold-type-24-letter-spacing);
  line-height: var(--semibold-type-24-line-height);
  margin-top: -1px;
  position: relative;
  width: 684px;
}

.web-detail-task .p {
  color: var(--secondary-500);
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 28px;
  position: relative;
  width: 672px;
}

.web-detail-task .essence-of {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
  left: 24px;
  position: absolute;
  top: 704px;
}

.web-detail-task .text-wrapper-12 {
  color: var(--secondary-500);
  font-family: var(--semibold-type-24-font-family);
  font-size: var(--semibold-type-24-font-size);
  font-style: var(--semibold-type-24-font-style);
  font-weight: var(--semibold-type-24-font-weight);
  letter-spacing: var(--semibold-type-24-letter-spacing);
  line-height: var(--semibold-type-24-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.web-detail-task .div-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.web-detail-task .essence-of-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.web-detail-task .text-wrapper-13 {
  color: var(--secondary-500);
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.web-detail-task .assigned-assignments {
  background-color: var(--primary-0);
  border-radius: 10px;
  height: 812px;
  left: 1036px;
  overflow: hidden;
  position: absolute;
  top: 224px;
  width: 372px;
}

.web-detail-task .text-wrapper-14 {
  color: var(--secondary-500);
  font-family: var(--semibold-type-14-font-family);
  font-size: var(--semibold-type-14-font-size);
  font-style: var(--semibold-type-14-font-style);
  font-weight: var(--semibold-type-14-font-weight);
  height: 20px;
  left: 24px;
  letter-spacing: var(--semibold-type-14-letter-spacing);
  line-height: var(--semibold-type-14-line-height);
  position: absolute;
  top: 23px;
  white-space: nowrap;
  width: 154px;
}

.web-detail-task .task {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  left: 24px;
  position: absolute;
  top: 68px;
  width: 324px;
}

.web-detail-task .title-2 {
  color: var(--secondary-500);
  font-family: var(--semibold-type-24-font-family);
  font-size: var(--semibold-type-24-font-size);
  font-style: var(--semibold-type-24-font-style);
  font-weight: var(--semibold-type-24-font-weight);
  letter-spacing: var(--semibold-type-24-letter-spacing);
  line-height: var(--semibold-type-24-line-height);
  margin-top: -1px;
  position: relative;
  width: 324px;
}

.web-detail-task .your-job-as-a-UX-des-4 {
  color: var(--secondary-400);
  font-family: var(--medium-type-14-font-family);
  font-size: var(--medium-type-14-font-size);
  font-style: var(--medium-type-14-font-style);
  font-weight: var(--medium-type-14-font-weight);
  height: 20px;
  letter-spacing: var(--medium-type-14-letter-spacing);
  line-height: var(--medium-type-14-line-height);
  position: relative;
  white-space: nowrap;
  width: 178px;
}

.web-detail-task .file-task {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  left: 24px;
  position: absolute;
  top: 368px;
}

.web-detail-task .text-wrapper-15 {
  color: var(--secondary-500);
  font-family: var(--semibold-type-20-font-family);
  font-size: var(--semibold-type-20-font-size);
  font-style: var(--semibold-type-20-font-style);
  font-weight: var(--semibold-type-20-font-weight);
  height: 28px;
  letter-spacing: var(--semibold-type-20-letter-spacing);
  line-height: var(--semibold-type-20-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 140px;
}

.web-detail-task .div-4 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 100px;
  position: relative;
}

.web-detail-task .text-wrapper-16 {
  color: var(--secondary-400);
  font-family: var(--medium-type-14-font-family);
  font-size: var(--medium-type-14-font-size);
  font-style: var(--medium-type-14-font-style);
  font-weight: var(--medium-type-14-font-weight);
  height: 20px;
  letter-spacing: var(--medium-type-14-letter-spacing);
  line-height: var(--medium-type-14-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 112px;
}

.web-detail-task .text-wrapper-17 {
  color: var(--secondary-500);
  font-family: var(--semibold-type-14-font-family);
  font-size: var(--semibold-type-14-font-size);
  font-style: var(--semibold-type-14-font-style);
  font-weight: var(--semibold-type-14-font-weight);
  height: 20px;
  letter-spacing: var(--semibold-type-14-letter-spacing);
  line-height: var(--semibold-type-14-line-height);
  margin-top: -1px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: 112px;
}

.web-detail-task .file-submisiion {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.web-detail-task .file-submisiion-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.web-detail-task .vuesax-linear-folder-wrapper {
  border: 1px dashed;
  border-color: var(--primary-500);
  border-radius: 10px;
  height: 160px;
  overflow: hidden;
  position: relative;
  width: 324px;
}

.web-detail-task .vuesax-linear-folder {
  height: 32px !important;
  left: 146px !important;
  position: absolute !important;
  top: 64px !important;
  width: 32px !important;
}

.web-detail-task .text-wrapper-18 {
  color: var(--secondary-400);
  font-family: var(--regular-type-12-font-family);
  font-size: var(--regular-type-12-font-size);
  font-style: var(--regular-type-12-font-style);
  font-weight: var(--regular-type-12-font-weight);
  height: 20px;
  letter-spacing: var(--regular-type-12-letter-spacing);
  line-height: var(--regular-type-12-line-height);
  position: relative;
  width: 168px;
}

.web-detail-task .detail-student {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  left: 24px;
  position: absolute;
  top: 196px;
}

.web-detail-task .submit-task {
  align-items: flex-start;
  background-color: var(--primary-500);
  border-radius: 10px;
  display: flex;
  gap: 10px;
  left: 24px;
  padding: 12px 120px;
  position: absolute;
  top: 744px;
  width: 324px;
}

.web-detail-task .text-wrapper-19 {
  color: var(--primary-0);
  font-family: var(--semibold-type-14-font-family);
  font-size: var(--semibold-type-14-font-size);
  font-style: var(--semibold-type-14-font-style);
  font-weight: var(--semibold-type-14-font-weight);
  height: 20px;
  letter-spacing: var(--semibold-type-14-letter-spacing);
  line-height: var(--semibold-type-14-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 84px;
}
