.root {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  align-items: flex-start;
}
.notification {
  position: absolute;
  left: 3.5px;
  top: 2px;
  width: 17px;
  height: 20px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
