.checkbox_div {
    text-align: justify;
    margin-top: .55em;
}

.checkbox_text {
    color: #000000;
    font-family: 'Inter', 'sans-serif';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.checkbox_field {
    display: block;

    appearance: none;
    background-color: #F3F4F6;
    border: .3em solid #F3F4F6;
    border-radius: .25em;
	padding: .5em .5em;
    margin: 1em .65em 0 0;

    cursor: pointer;
    transition: all .45s;
}

.checkbox_field:hover {
    transform: scale(1.05);
    border-color: #4F46E5;
}

.checkbox_field:checked {
    background-color: #4F46E5;
}