.checkbox_div {
  text-align: justify;
  margin-top: 0.55em;
}

.checkbox_text {
  color: #000000;
  font-family: "Inter", "sans-serif";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.checkbox_field {
  display: block;

  appearance: none;
  background-color: #f3f4f6;
  border: 0.3em solid #f3f4f6;
  border-radius: 0.25em;
  padding: 0.5em 0.5em;
  margin: 1em 0.65em 0 0;

  cursor: pointer;
  transition: all 0.45s;
}

.checkbox_field:hover {
  transform: scale(1.05);
  border-color: #4f46e5;
}

.checkbox_field:checked {
  background-color: #4f46e5;
}
