.double_input_field {
  border: none;
  border-radius: 0.25em;
  background: #f3f4f6;
  align-self: stretch;
  outline: none;
  padding: 0.7em 0.4em;
  margin: 0.2em 0.2em 0.8em 0.2em;

  color: #000;
  font-family: "Inter", "sans-serif";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
